.glitch::before,
.glitch::after {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  overflow: hidden;
  position: absolute;
  top: 0;
  clip: rect(0, 900px, 0, 0);
  content: attr(data-glitchtext);
}
.glitch::before {
  animation-name: glitch-animation-2;
  animation-duration: 6s;
  left: -4px;
  text-shadow: 1px 0 #ff8838;
  background-color: black;
  background-repeat: no-repeat;
}
.glitch::after {
  animation-name: glitch-animation;
  animation-duration: 4s;
  left: 4px;
  text-shadow: -1px 0 #f8d251;
  background-color: black;
  background-repeat: no-repeat;
}

@media (orientation: landscape) {
  .glitch::before {
    background-size: 100vw auto;
    background-position: calc(50.5% + 4px) center;
  }
  .glitch::after {
    background-size: 100vw auto;
    background-position: calc(50.5% - 4px) center;
  }
}
@media (orientation: portrait) {
  .glitch::before {
    background-size: auto 100vh;
    background-position: calc(50.5% + 4px) center;
  }
  .glitch::after {
    background-size: auto 100vh;
    background-position: calc(50.5% - 4px) center;
  }
}

.glitch {
  position: relative;
  max-width: 99%;
}

@keyframes glitch-animation {
  0% {
    clip: rect(118px, 9999px, 215px, 0);
  }
  5% {
    clip: rect(33px, 9999px, 288px, 0);
  }
  10% {
    clip: rect(135px, 9999px, 141px, 0);
  }
  15.0% {
    clip: rect(118px, 9999px, 357px, 0);
  }
  20% {
    clip: rect(177px, 9999px, 132px, 0);
  }
  25% {
    clip: rect(95px, 9999px, 269px, 0);
  }
  30.0% {
    clip: rect(242px, 9999px, 357px, 0);
  }
  35% {
    clip: rect(56px, 9999px, 97px, 0);
  }
  40% {
    clip: rect(73px, 9999px, 293px, 0);
  }
  45% {
    clip: rect(70px, 9999px, 323px, 0);
  }
  50% {
    clip: rect(160px, 9999px, 479px, 0);
  }
  55.0% {
    clip: rect(14px, 9999px, 225px, 0);
  }
  60.0% {
    clip: rect(231px, 9999px, 151px, 0);
  }
  65% {
    clip: rect(152px, 9999px, 132px, 0);
  }
  70% {
    clip: rect(78px, 9999px, 484px, 0);
  }
  75% {
    clip: rect(126px, 9999px, 337px, 0);
  }
  80% {
    clip: rect(64px, 9999px, 416px, 0);
  }
  85.0% {
    clip: rect(152px, 9999px, 411px, 0);
  }
  90% {
    clip: rect(126px, 9999px, 230px, 0);
  }
  95% {
    clip: rect(104px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(11px, 9999px, 445px, 0);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(183px, 9999px, 489px, 0);
  }
  5% {
    clip: rect(146px, 9999px, 362px, 0);
  }
  10% {
    clip: rect(222px, 9999px, 416px, 0);
  }
  15.0% {
    clip: rect(211px, 9999px, 24px, 0);
  }
  20% {
    clip: rect(188px, 9999px, 298px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 386px, 0);
  }
  30.0% {
    clip: rect(2px, 9999px, 323px, 0);
  }
  35% {
    clip: rect(242px, 9999px, 146px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 479px, 0);
  }
  45% {
    clip: rect(239px, 9999px, 352px, 0);
  }
  50% {
    clip: rect(200px, 9999px, 367px, 0);
  }
  55.0% {
    clip: rect(5px, 9999px, 235px, 0);
  }
  60.0% {
    clip: rect(84px, 9999px, 78px, 0);
  }
  65% {
    clip: rect(166px, 9999px, 244px, 0);
  }
  70% {
    clip: rect(115px, 9999px, 303px, 0);
  }
  75% {
    clip: rect(5px, 9999px, 401px, 0);
  }
  80% {
    clip: rect(132px, 9999px, 357px, 0);
  }
  85.0% {
    clip: rect(8px, 9999px, 132px, 0);
  }
  90% {
    clip: rect(73px, 9999px, 269px, 0);
  }
  95% {
    clip: rect(118px, 9999px, 474px, 0);
  }
  100% {
    clip: rect(107px, 9999px, 239px, 0);
  }
}
