body {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
}
.title {
  vertical-align: center;
  text-align: center;
}
#cums {
  top: 18vh;
  left: 7vh;
}
