body {
  background-image: url("/images/p5papqqm7gjeayk55ifjhg62znddy5tf_hq.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
}
