.box {
  --side: calc(min(150vh, 100vw) / 2);
  width: var(--side);
  height: var(--side);
  display: flex;
  overflow: hidden;
  background-color: black;
}

.moth {
  position: absolute;
  width: 55vh;
  top: 9vh;
  cursor: url(/images/animals-moth-pointer.png), auto;
}
