.titlerate {
    display: flex;
    align-content: center;
    justify-content: left;
    align-items: left;
    margin-left: 10px;
  }
  .textrate {
    text-align: left;
    align-content: center;
    justify-content: left;
    align-items: left;
    margin-left: 10px;